ODBC_DRIVER = "ODBC Driver XX for SQL Server"
SERVER = "https://url.com"
DATABASE = "Database_Name"
USERNAME = "username"
PASSWORD =  "password"

# Scripts:
# pip install python-dotenv
# pip install requests
# pip install pandas
# pip install openpyxl
# pip install pyodbc
# pip install sqlalchemy
